*{
    font-family: monospace;
}
*::selection{
    color: white;
    background-color: black;
}

h1{
    text-align: center;
}
nav{
    background: gray;
    position: sticky;
    top: 0;
    opacity: 70%;
    
}
.navli{
    text-align: center;
}
nav li{
    display: inline-block;
    background: black;
    border-radius: 10px;
    padding: 10px;
    width: 70px;    
    margin: 5px;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
.floats{
    margin: 10px;
}
#img{
    float: left;
    
    margin-right: 5%;
    margin-left: 5%;
}
.li1{
    list-style-type: none;
}
.li2{
    list-style-type: lower-alpha;
}
.li3{
    list-style-type: square;
}
#list1{
    float: left;
    border-style: solid;
    border-radius: 10pt;
    padding: 5px;
    margin: 5px;
    width: 200pt;
    height: 200px;
}
#list2{
    float: left;
    border-style: solid;
    border-radius: 10pt;
    padding: 5px;
    margin: 5px;
    width: 200pt;
    height: 200px;
}

.dp{
    height: 200px;
    border-radius: 50%;
    border-style: solid;
    border-color: blue;
    margin-top: 30px;
}

main{
    clear: left;
}
h2{
    text-align: center;
}
main h2{
    border-top-style: solid;
    border-color: blue;
    border-radius: 100px;
    padding-top: 10px;
}
h3, h4{
    text-align: center;
}
p{
    margin: 20px;
}
.timeline{
    text-align: center;
    background: lightgray;
    padding: 10px;
}
.past{
    display: grid;
    grid-template-columns: 50% 50%;
}
.childteen{
    gap: 20px;
}

.tophob{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.hob{
    margin: 10px;
    width: 200px;
    height: 150px;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,2);
    border-radius: 5px;
}
.tophob .hob h3{
    background: black;
    padding: 10px;
    color: white;
    margin: 0%;
    border-radius: 5px 5px 0px 0px;
}
main a{
    text-align: center;
    color: blue;
}

.navfav ul{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 0%;
}
.navfav ul li{
    display: grid;
    background: lightgray;
    list-style-type: none;
    width: 70px;
    margin: 5px;
}
.food{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    border-top-style: solid;
    
    border-color: gray;
    border-radius: 10px;
}
.colorli{
    border-top-style: solid;
    border-color: gray;
    border-radius: 10px;
}
.color{
    float: left;
    margin: 3px;
    width: 165px;
    color: white;
}
.blue{
    background: blue;
    border-style: solid;
    border-color: black;
    padding: 50px;
    border-radius: 5px;
}
.brown{
    background: saddlebrown;
    border-style: solid;
    border-color: black;
    padding: 50px;
    border-radius: 5px;
}
.white{
    background: white;
    color: black;
    border-style: solid;
    padding: 50px;
    border-radius: 5px;
}
.black{
    background: black;
    border-style: solid;
    border-color: gray;
    padding: 50px;
    border-radius: 5px;
}
.gray{
    background: gray;
    border-style: solid;
    border-color: black;
    padding: 50px;
    border-radius: 5px;
    clear: right;
}

#songs{
    clear: left;
}
.songli{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    border-top-style: solid;
    border-color: gray;
    border-radius: 10px;
    
    color: white;
}
.song h5{
    margin-left: 20px;
    margin-right: 20px;
    
    padding: 5px;
    border-radius: 5px;
    
}
.song a{
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 20px;
    margin-right: 20px;
    background: white;
    color: red;
    padding: 5px;
    border-radius: 5px;
    opacity: 50%;
}
.song{
    display: grid;
    grid-template-columns: 50% 50%;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,2);
    margin: 5px;
    width: 350px;
    border-radius: 5px;
}
#song1{
    background: url("1.png");
    background-size: cover;
}
#song2{
    background: url("2.png");
    background-size: cover;
}
#song3{
    background: url("3.png");
    background-size: cover;
}
#song4{
    background: url("4.png");
    background-size: cover;
}
#song5{
    background: url("5.png");
    background-size: cover;
}
#song6{
    background: url("6.png");
    background-size: cover;
}



footer a{
    color: blue;
}

















@media(max-width: 480px){
    nav li{
        padding: 2px;
        width: 60px;    
        margin: 1px;
        border-radius: 5px;
    }
    #img{
        margin-left: 10%;
    }
}
